<section class="catalog-banner bg-color-grey">
    <div class="grid-container">
        <div class="d-flex align-middle align-center">
            <div class="catalog-banner__content">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li class=""><a href="catalog.html">All categories</a></li>
                        <li><a href="catalog.html">Woman</a></li>
                        <li>
                        <span class="show-for-sr">Current: </span> Jackets
                        </li>
                    </ul>
                </nav>
                <h3 class="catalog-banner__text font-weight-700 line-height-13">Denim Collection<br />Fall 2019</h3>
            </div>
            <div>
                <div class="catalog-banner__image">
                    <img src="../assets/img/banner-2.png" alt="banner-image" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="catalog-banner catalog-banner-small">
    <div class="grid-container">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs font-weight-500">
                <li><a href="catalog.html">Woman</a></li>
                <li>
                <span class="show-for-sr">Current: </span> Jackets
                </li>
            </ul>
        </nav>
    </div>
</section>