<section class="banner banner-large bg-color-grey">
    <div class="grid-container">
        <div class="grid-x">
            <div class="small-1 cell">
                <nav class="grid-x height-50 pt-32">
                    <ul class="banner__nav list-reset">
                        <li class="banner__nav-item">
                            <a class="banner__nav-link" href="catalog.html">Woman</a>
                        </li>
                        <li class="banner__nav-item">
                            <a class="banner__nav-link" href="product.html">Man</a>
                        </li>
                        <li class="banner__nav-item">
                            <a class="banner__nav-link" href="catalog.html">New</a>
                        </li>
                    </ul>
                </nav>
                <div class="grid-x height-50 pb-50">
                    <img class="banner__arrow align-self-bottom" src="../assets/img/arrow-down.svg" alt="arrow-down" />
                </div>
            </div>
            <div class="small-4 cell grid-x align-middle align-right pr-17">
                <div class="pt-20">
                    <h6 class="tx-color-1 pb-10 pl-3">The quality you deserve</h6>
                    <h1 class="banner__text">DENIM</h1>
                    <a class="banner__button button large secondary ml-3" href="catalog.html">Check new collection</a>
                </div>
            </div>
            <div class="small-6 cell">
                <div class="banner__main">
                    <img class="banner__main-image" src="../assets/img/banner-image.png" alt="banner-image" />
                </div>
            </div>
            <div class="small-1 cell">
                <div class="grid-x align-right height-50 pt-32">
                    <ul class="list-reset">
                        <li>
                            <a class="banner__icon" href="#">
                                <img src="../assets/img/basket.svg" alt="basket" />
                            </a>
                        </li>
                        <li class="order-1">
                            <a class="banner__icon" href="#">
                                <img src="../assets/img/search.svg" alt="search" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid-x align-right height-50 pb-32">
                    <ul class="banner__social list-reset tx-small align-self-bottom">
                        <li class="banner__social-item">
                            <a class="banner__social-link" href="#" target="_blank">Facebook</a>
                        </li>
                        <li class="banner__social-item">
                            <a class="banner__social-link" href="#" target="_blank">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner banner-medium bg-color-grey">
    <div class="grid-container">
        <div class="grid-x align-justify align-middle">
            <nav class="grid-x">
                <ul class="banner__nav grid-x list-reset">
                    <li class="banner__nav-item">
                        <a class="banner__nav-link" href="catalog.html">Woman</a>
                    </li>
                    <li class="banner__nav-item">
                        <a class="banner__nav-link" href="catalog.html">Man</a>
                    </li>
                    <li class="banner__nav-item">
                        <a class="banner__nav-link" href="catalog.html">New</a>
                    </li>
                </ul>
            </nav>
            <ul class="grid-x list-reset">
                <li class="order-1">
                    <a class="banner__icon" href="#">
                        <img src="../assets/img/basket.svg" alt="basket" />
                    </a>
                </li>
                <li class="">
                    <a class="banner__icon pr-17" href="#">
                        <img src="../assets/img/search.svg" alt="search" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="banner__content">
            <div class="banner__content-info">
                <div>
                <h6 class="banner__title tx-color-1">The quality you deserve</h6>
                <h1 class="banner__text font-weight-700 pb-50">DENIM</h1>
                <a class="banner__button button large secondary" href="catalog.html">Check new collection</a>
                </div>
            </div>
            <div class="banner__main">
                <img src="../assets/img/banner-image.png" alt="banner-image" />
            </div>
        </div>
        <div class="banner__bottom grid-x align-justify align-bottom pb-45">
            <img class="banner__arrow align-self-bottom" src="../assets/img/arrow-down.svg" alt="arrow-down" />
            <ul class="banner__social grid-x list-reset">
                <li class="banner__social-item order-1">
                    <a class="banner__social-link tx-small" href="#" target="_blank">Facebook</a>
                </li>
                <li class="banner__social-item">
                    <a class="banner__social-link tx-small" href="#" target="_blank">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</section>