<footer class="footer bg-color-black">
    <div class="grid-container">
        <div>
            <div class="footer__content">
                <a href="/" class="footer__logo-link grid-x align-center">
                    <h4 class="font-weight-800 tx-color-3">Nîmes</h4>
                </a>
                <nav class="footer__nav">
                    <ul class="footer__list grid-x align-center list-reset">
                        <li class="footer__nav-item tx-big">
                            <a href="#" class="footer__nav-link tx-color-3">Shop</a>
                        </li>
                        <li class="footer__nav-item tx-big">
                            <a href="#" class="footer__nav-link tx-color-3">Delivery</a>
                        </li>
                        <li class="footer__nav-item tx-big">
                            <a href="#" class="footer__nav-link tx-color-3">Service</a>
                        </li>
                        <li class="footer__nav-item tx-big">
                            <a href="#" class="footer__nav-link tx-color-3">Sitemap</a>
                        </li>
                        <li class="footer__nav-item tx-big">
                            <a href="#" class="footer__nav-link tx-color-3">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <ul class="footer__social grid-x align-center list-reset">
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#" target="_blank">
                        <img src="../assets/img/facebook.svg" alt="facebook" />
                    </a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#" target="_blank">
                        <img src="../assets/img/instagram.svg" alt="instagram" />
                    </a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#" target="_blank">
                        <img src="../assets/img/pic.svg" alt="pic" />
                    </a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#" target="_blank">
                        <img src="../assets/img/twitter.svg" alt="twitter" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>